html{
  line-height: 1.4;
  font-family: Helvetica;
  font-size: 18px;;
}

body{
  font-size:1rem;
}

.container{
  max-width: 960px;
  margin:0 auto;
}
/*Banner and Header*/
/*Image of the entire top*/
.banner{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat:no-repeat;
  background-size: cover;
  height:30rem;
  width:100%;
}

/*Header*/
.header.container{
  background-color:cadetblue;
  display: flex;
  position: relative;
  top:1rem;
  align-items: center;
  justify-content: space-between;

}

.header.container img{
  height:1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.header.container p{
  padding-right: 2rem;
  padding-top:1rem;
  padding-bottom: 1rem;
  color:white;
  font-size: 1rem;
}
/*Left side of the header*/
#left-side{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin:0;
}
/*Right side of the header*/
nav{
  display: inline-flex;
}

.mobile{
  display: none;
}
/*Headline*/
.headline{
  display: flex;
  margin:  0 auto;
  width:100%;
  justify-content: flex-end;
}

#banner{
  background-color: white;
  margin-top:10rem;
  width: auto;
  display: inline-block;
  margin-right: -2rem;
}

#banner h1{
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  padding: 1.5rem 5rem;
}


@media only screen and (max-width:1024px){
  .banner{
    height: 22rem;
  }

  #banner{
    margin-right: 2rem;
    margin-top:5rem;
    background-color: white;
  }

  #banner h1{
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }

  .header.container{
    top:0;
  }

}

@media only screen and (max-width:700px){
  .banner{
    height: 17rem;
  }

  #banner{
    width:100%;
    margin:auto;
    margin-top: 9rem;
    text-align: center;
  }

  #banner h1{
    font-size: 1.33rem;
    padding: 1rem 0rem;
  }

  .header.container{
    top:0;
  }

  nav{
    display: none;
  }

  .mobile{
    display: block;
  }
}

/*Icon gallery*/
.gallery{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  text-align: center;
  line-height: 1.4;

}

.icons{
  height: 8rem;
  width:auto;
  margin: 0rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.gallery img{
  height: auto;
}

#paper{
  width:3.5rem;
}

#ruler{
  width:5rem;
}
#truck{
  width:5rem;
}

/*Business info*/
#bizinfo{
  display: flex;
  margin-top: 3rem;
  margin-bottom:  5rem;
  justify-content: center;
}
#info{
  display: inline-block;
  border: 2px red dotted;
}

.info{
  width:35%;
  display: block;
  margin: 0 5%;
}

.info p{
  display: inline-block;
}
.info h2{
  width:10rem;
  padding:0.5rem 1.25rem;
  display: inline-block;
  background-color: cadetblue;
  color:white;
  font-weight: bold;
  margin-bottom: 1rem;
}

/*Footer*/
.footer{
  display: flex;
  align-items: center;
  background-color: azure;
}

.footer img{
  padding:4rem 1rem 4rem 4rem;
  display: inline;
}

@media only screen and (max-width:700px){
  .gallery{
    margin-top:3.77rem;
    flex-direction: column;
  }

  .icons{
    height:auto;
    margin-bottom:1.54rem;
  }

  .picture{
    margin-bottom:.75rem;
  }

  /*Business info*/
  #bizinfo{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info{
    display: block;
    width:100%;
    margin:0;
    padding:0;
  }

  .container.info h2{
    text-align: center;
    width:100%;
    margin:0;
    padding-left: 0;
    padding-right:0;
  }

  .info p{
    text-align: center;
    padding-top:1rem;
    margin:0;
    margin-bottom: 4rem;
  }

  .footer{
    margin: 0;
  }
  .footer img{
    margin:auto;
  }
  .footer p{
    display: none;
  }
}
