
body{
  margin:0;
  padding:0;
}

/*Header */
header {
  display:flex;
  height: 80px;
  position: fixed;
  border-bottom: 1px solid black;
  width: 100%;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  background-color: white;
}

header nav{
  padding-right: 50px;
}

header nav a{
  padding: 20px 20px;
  color: black;
}

.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
  color:MediumAquamarine;
}
.logo img{
  width: 70px;
  height: 60px;
  padding-right:10px;
  padding-left: 20px;
}

/*Main Divison*/

.main{
  position: relative;
  display: flex;
  top: 120px;
  position: 120px 40px;
  justify-content: space-around;


}

.large{
  width: 630px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.medium{
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.small{
  width: 240px;

  display: flex;
  flex-direction: column;
}
.leadstory{
  width:auto;

  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: flex;
  flex-direction: column;
}
.story{

  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.imgStory{

  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}

#one {
  font-size: 40px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

#two{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

#three{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

#four{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.bites   {
  display: flex;
  flex-direction: column;

}
.bites p{

  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  color: DimGray;
  font-size: 12px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

}

.bites span{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 30px;
}

/*Footer Section */

footer{
  display: flex;
  flex-direction: column;
  z-index: 2;
  position:relative;
  top: 120px;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 350px;
  margin-top: 60px;
}

.footTitle{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 50px;
  border-right: 2px white solid;
  display: inline-block;
}

.footTop{

  display: inline-block;


}

.footBot{

  display: inline block;
}

footer nav{
  display: inline-block;
}
footer nav a{


  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  color: black;
  padding: 0px 20px;
}
