/*Universal Styles */

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

div{

  background-color:black;
}

/*Content & Container Divs*/
.content{
  text-align: center;
  max-height:700px;
  width: 100%;
}

.container{
  display: flex;
  position: relative;
  top: 70px;
  margin: 0 auto;
  justify-content: center;
}
/*Header Styling */

header{
  display:flex;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  background-color: black;
}

.logo img{
  padding-left: 10px;
  height:50px;
  flex-grow: 1;
}

nav{
  width: 100%;
  text-align: right;
}

nav a{
  display: inline-block;
  color: white;
  padding-left: 15px;
  padding-right: 5px;
}

/*Mission Styling*/

#mission{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height:700px;
  width:1200px;
  align-items: center;
  margin-bottom: 40px;
}
/*Tea of the Month Styling*/
#teaMonth{
  width: 1000px;
  flex-direction:column;
}

#pictures{
  display: inline-flex;
  width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
img {
  height:200px;
  width: 300px;
  padding:0;
  margin:0;
}
.picture{
  margin: 0px 10px;
}
.picture h4{
  padding:10px 0px;
  margin: 0;
}

/*Locations Styling*/
#locations{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height:500px;
  width:1200px;
  align-content:center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#locations .content{
  width: 300px;
  height: 300px;
  margin:15px 20px;
  opacity: 1;
}

#locations h2{
  width: 100%;
  margin: 0px;
}

/*Footer Styling*/
footer{
  position: relative;
  top: 70px;
  text-align: left;
  padding-left: 20px;
}
#footer{
  width:1000px;
  height: 200px;
}
